<!DOCTYPE html>
<html>
	<head>
		<title>Ian F. Blair | Official Website</title>
		<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,300italic,500,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		
  		<%= csrf_meta_tags %>
	</head>

	<body>
		<div class="container">
			<% flash.each do |name, msg| %>
			<% if msg.is_a?(String) %>
				<div class="alert alert-#{name == :notice ? 'success' : 'error'}">
					<a href="#" data-dismiss="alert">&times;</a>
					<%= content_tag :div, msg, :id => "flash_#{name}" %>
				</div>
			<% end %>
			<% end %>
		</div>
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="menu col-xs-8">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/work">Work</a></li>
							<li><a href="http://ianfblair.tumblr.com/" target="_blank">Blog</a></li>
							<li><a href="/about">About</a></li>
							<li><%= link_to t('Contact'), new_contact_path %></li>
						</ul>
					</div>
					<div class="name col-xs-4">
						<a href="/"><h1>Ian Blair</h1></a>
					</div>
				</div>
			</div>
		</div>

		<%= yield %>

		<div class="footer">
			<div class="container">
				<ul class="social_media">
					<li><a class="instagram" href="https://instagram.com/i2theb/" target="_blank">instagram</a></li>
					<li><a class="linkedin" href="https://www.linkedin.com/pub/ian-f-blair/4b/522/372" target="_blank">linkedin</a></li>
					<li><a class="twitter" href="https://twitter.com/i2theb" target="_blank">twitter</a></li>
				</ul>
				<p>&copy; 2015 Ian Blair</p>
			</div>
		</div>

	</body>
</html>